.pre-footer {
  .sbi {
    margin-right: -20px !important;
    padding-bottom: 0 !important;

    #sbi_images {
      padding: 0 10px 10px 10px !important;
      margin-bottom: -20px !important;
    }

    #sbi_load {
      display: none !important;
      visibility: hidden !important;
    }
  }
}

.footer {
  &__newsletter {
    padding: 36px 0;
    border-top: 1px solid $color-grey5;

    form {
      .form-control {
        height: 3rem !important;
      }

      input {
        border-radius: 0;
        padding: 0 20px;
      }

      button {
        vertical-align: middle;
        position: relative;
        display: inline-block;
        border-radius: 0 !important;
        font-weight: 500;
        line-height: 1;
        border: none;
        background-color: $color-primary !important;
        color: white !important;
        outline: 0;
        box-shadow: none !important;
        background-color: transparent;
        transition: none !important;
        transform-origin: center center;
        padding: 1rem 3.2rem;
        font-size: 1rem;
        white-space: nowrap !important;
      }
    }
  }

  &__upper {
    background-color: $color-primary;
    color: white;
  }

  &__lower {
    background-color: $color-primary;
    color: white;
    padding: 12px 0;

    a:hover {
      color: inherit;
    }

    .sative {
      margin-left: 20px;

      @media (max-width: 359px) {
        margin: 10px auto 5px;
        display: block;
      }

      a {
        i {
          color: $color-tertiary;
          margin: 0 2px;
          font-size: 18px;
          vertical-align: -2px;
          -webkit-text-fill-color: $color-tertiary;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $color-primary;
        }

        span {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 14px;
          position: relative;

          &:after {
            position: absolute;
            display: block;
            bottom: -1px;
            left: 0;
            width: 0;
            content: "";
            height: 2px;
            background-color: $color-navy;
          }
        }

        &:hover {
          color: inherit;
          text-decoration: none;

          i {
            transform: scale(1.2);
            -webkit-text-stroke-width: 1.5px;
            margin: 0 3px;
          }

          span {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

#nbhdModalCart {
  padding-right: 0 !important;

  .modal-dialog {
    @media (min-width: 992px) {
      max-width: 640px;
    }
  }

  .close {
    font-size: 2rem;
    line-height: 1rem;
    position: relative;
    background-color: transparent;
    color: white;

    span {
      vertical-align: 0.5rem;
    }
  }

  .modal-topbar {
    min-width: 100%;
    width: auto;
    margin: 0 0 30px 0;
    padding: 15px 20px 15px 30px;
    z-index: 9;
    position: absolute;

    @media (max-width: 575px) {
      padding: 10px 15px 10px 15px;
    }
  }

  .modal-content {
    padding-left: 30px !important;
    background-color: $color-grey !important;

    @media (max-width: 575px) {
      padding-left: 15px !important;
    }

    .modal-body {
      padding: 70px 30px 30px 0 !important;

      @media (max-width: 575px) {
        padding: 70px 15px 30px 0 !important;
      }

      .widget_shopping_cart_content {
        ul.woocommerce-mini-cart {
          list-style: none !important;
          padding: 0 !important;
          margin: 0 -15px !important;
          display: flex !important;
          flex-wrap: wrap !important;

          @media (max-width: 575px) {
            margin: 0 -10px !important;
          }

          li.woocommerce-mini-cart-item {
            display: flex !important;
            flex-direction: column !important;
            max-width: 50% !important;
            flex-basis: 50% !important;
            padding: 15px !important;
            position: relative !important;

            @media (max-width: 575px) {
              padding: 10px !important;
            }

            .remove_from_cart_button {
              order: 0 !important;
              position: absolute !important;
              top: 7px !important;
              font-weight: 700 !important;
              right: 7px !important;
              width: 20px !important;
              height: 20px !important;
              line-height: 15px !important;
              text-align: center !important;
              font-size: 20px !important;
              color: white !important;
              background-color: $color-red !important;
              text-decoration: none !important;
              border-radius: 20px;

              @media (max-width: 575px) {
                top: 2px !important;
                right: 2px !important;
              }

              & + a {
                font-weight: 700 !important;

                img {
                  margin-bottom: 15px !important;
                  margin-left: auto;
                  float: none;
                  width: auto;
                }
              }
            }

            span.quantity {
              margin-top: 5px !important;
              order: 100 !important;
            }
          }
        }

        .woocommerce-mini-cart__total {
          margin-top: 25px !important;
          padding-top: 25px !important;
          border-top: 1px solid $color-grey4 !important;
          @extend .h5;
        }
        .woocommerce-mini-cart__buttons {
          margin-top: 40px !important;
          display: flex !important;
          flex-wrap: wrap;

          .button.wc-forward,
          .button.checkout.wc-forward {
            @extend .btn;
            @extend .btn__medium;
            margin-right: 15px !important;
            order: 10;
            margin-bottom: 15px;
          }
          .button.checkout.wc-forward {
            order: 1 !important;
            border-color: $color-primary !important;
            color: white !important;
            background-color: black !important;

            &:hover {
              color: white !important;
              background-color: $color-primary;
            }
          }
        }
      }
    }
  }
}

.modal-dialog-slideout {
  min-height: 100%;
  margin: 0 0 0 auto;
  background: #fff;
}
.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(100%, 0) scale(1);
  transform: translate(100%, 0) scale(1);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: flex;
  align-items: stretch;
  -webkit-box-align: stretch;
  height: 100%;
}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-dialog-slideout .modal-content {
  border: 0;
}
