.pre-footer {
  .sbi {
    margin-right: -20px !important;
    padding-bottom: 0 !important;

    #sbi_images {
      padding: 0 10px 10px 10px !important;
      margin-bottom: -20px !important;
    }

    #sbi_load {
      display: none !important;
      visibility: hidden !important;
    }
  }
}

.footer {
  &__newsletter {
    padding: 36px 0;
    border-top: 1px solid $color-grey5;

    form {
      .form-control {
        height: 3rem !important;
      }

      input {
        border-radius: 0;
        padding: 0 20px;
      }

      button {
        vertical-align: middle;
        position: relative;
        display: inline-block;
        border-radius: 0 !important;
        font-weight: 500;
        line-height: 1;
        border: none;
        background-color: $color-primary !important;
        color: white !important;
        outline: 0;
        box-shadow: none !important;
        background-color: transparent;
        transition: none !important;
        transform-origin: center center;
        padding: 1rem 3.2rem;
        font-size: 1rem;
        white-space: nowrap !important;
      }
    }
  }

  &__upper {
    background-color: $color-primary;
    color: white;
  }

  &__lower {
    background-color: $color-primary;
    color: white;
    padding: 12px 0;

    a:hover {
      color: inherit;
    }

    .sative {
      margin-left: 20px;

      @media (max-width: 359px) {
        margin: 10px auto 5px;
        display: block;
      }

      a {
        i {
          color: $color-tertiary;
          margin: 0 2px;
          font-size: 18px;
          vertical-align: -2px;
          -webkit-text-fill-color: $color-tertiary;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $color-primary;
        }

        span {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 14px;
          position: relative;

          &:after {
            position: absolute;
            display: block;
            bottom: -1px;
            left: 0;
            width: 0;
            content: "";
            height: 2px;
            background-color: $color-navy;
          }
        }

        &:hover {
          color: inherit;
          text-decoration: none;

          i {
            transform: scale(1.2);
            -webkit-text-stroke-width: 1.5px;
            margin: 0 3px;
          }

          span {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
