.home {

    &__header {
        max-height: 80vh;
        min-height: 80vh;
        display: flex;
        background-color: black;

        @media(orientation: portrait) and (max-width: 991px) {
            max-height: 60vh;
            min-height: 60vh;
        }

        @media(orientation: portrait) and (max-width: 767px) {
            max-height: 60vh;
            min-height: 60vh;
        }

        &-slider {
            min-height: 100%;
            min-width: 100vw;
            display: flex;

            .carousel-inner {
                min-height: 100%;
                min-width: 100vw;
                display: flex;
                align-items: stretch;

                .carousel-item {

                    img {
                        opacity: 0.7;
                    }

                }

                .carousel-caption {
                    bottom: auto;
                    top: 50%;
                    left: 50%;
                    right: auto;
                    transform: translateX(-50%) translateY(-50%);
                    min-width: 75%;

                    h1,
                    .text-size-xxxxlarge {
                        text-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.5);
                        text-transform: uppercase;

                        @media(max-width: 991px) {
                            font-size: 40px;
                        }

                        @media(max-width: 767px) {
                            font-size: 32px;
                        }

                    }

                    .btn {
                        margin-top: 30px;

                        @media(max-width: 767px) {
                            margin-top: 15px;
                        }

                    }

                }

            }

            .carousel-control-next-icon, 
            .carousel-control-prev-icon {
                width: 48px;
                height: 48px;

                @media(max-width: 767px) {
                    width: 36px;
                    height: 36px;
                }

            }

            .carousel-indicators {
                margin-bottom: 30px;

                @media(max-width: 767px) {
                    margin-bottom: 15px;
                }

                li {
                    width: 48px;
                    height: 4px;
                    border: none!important;
                    padding: 0!important;
                    margin-left: 10px;
                    margin-right: 10px;
                    background-color: white;
                    opacity: 1;
                    vertical-align: middle;

                    @media(max-width: 767px) {
                        width: 36px;
                        height: 3px;
                        margin-left: 6px;
                        margin-right: 6px;
                    }

                    &.active {
                        background-color: $color-tertiary;
                        height: 8px;
                        margin-top: -2px;
                        border: none!important;

                        @media(max-width: 767px) {
                            height: 5px;
                            margin-top: -1px;
                        }

                    }

                }

            }

        }

    }

    &__insta {
        padding: 80px 0;

        @media(max-width: 767px) {
            padding: 60px 0;
        }

        &-grid {

            &-item {
                padding-bottom: 30px;

                &-cont {
                    overflow: hidden;
                    @extend .trans;
                    box-shadow: 4px 4px 0 0 $color-tertiary;

                    img {
                        @extend .trans;
                    }

                    &:hover {
                        transform: translateX(-4px) translateY(-4px);
                        box-shadow: 8px 8px 0 0 $color-tertiary;

                        img {
                            transform: scale(1.5) rotate(15deg);
                        }

                    }

                }

            }

        }

    }

}