$font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;

$color-navy: #0a0a0a;
$color-sea: #94D4E9;
$color-pink: #FF0000;
$color-red: #FF0000;
$color-blue: #00A3FF;
$color-yellow: #FDD963;
$color-grey: #F6F6F6;
$color-grey2: #F0F0F0;
$color-grey3: #E5E5E5;
$color-grey4: #E0E0E0;
$color-grey5: #DDDDDD;
$color-grey6: #BDBDBD;
$color-grey7: #888888;
$color-grey8: #333333;
$color-grey9: #1d1d1b;

$color-primary: #0a0a0a;
$color-secondary: $color-grey;
$color-tertiary: $color-red;
